# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/

# Streamlit secrets and cache
.streamlit/secrets.toml
.streamlit/config.toml
.streamlit/*.json
.cache/
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# System files
.DS_Store
Thumbs.db

# Model and output files (if large or sensitive)
*.h5
*.pb
*.tflite
# *.joblib
*.sav
*.npz
#*.npy
*.pkl

# EXCEPT: allow .pkl, .joblib, .npy files inside models/ directory
!models/*.pkl
!models/*.joblib
!models/*.npy
!models/*.h5
# VS Code settings (optional)
.vscode/

# Environment settings
*.env

# TensorFlow logs and checkpoints
checkpoint
events.out.tfevents.*
*.ckpt
