*.h5 filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
models/feature_names.pkl !text !filter !merge !diff
models/iso_reg.pkl !text !filter !merge !diff
models/scaler.pkl !text !filter !merge !diff
